<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
</head>
<body>
{% block login %}
    <form id="login_form" class="ui form" method="post" action="/login_page">
        {% csrf_token %}
        <label>نام کاربری</label>
        <input name="username" placeholder="نام کاربری" type="text">
        <label>گذرواژه</label>
        <input name="password" placeholder="گذرواژه" type="text">
        <button name="submit" class="ui button" type="submit">">ورود</button>
    </form>
    {% if error %}
        <div id="error">error</div>
    {% endif %}
{% endblock %}
</body>
</html>